<div class = "container">

<div class="cadastros">
<h2>Alunos cadastrados</h2>
<table >

    <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Course</td>
            <td>Opção</td>
    </tr>
    <tr *ngFor="let alu of alunos">
            <td>{{alu.id}}</td>
            <td>{{alu.name | uppercase}}</td>
            <td>{{alu.age}}</td>
            <td>{{alu.course | uppercase}}</td>
            <td>
                <button type="button" (click)="onSelect(alu)">Editar</button>
            </td>

    </tr>

</table>
</div>
<div class = "if" *ngIf="selectedAluno">
    <h2>Aluno</h2>
    <h2>{{selectedAluno.name}} - {{selectedAluno.course}}</h2>
   <h2> Editar: </h2>
    <div class = "dados">
        <label>Nome:</label>
        <input id="name" [(ngModel)]="selectedAluno.name" placeholder="name">
        <label>Curso:</label>
        <input id="course" [(ngModel)]="selectedAluno.course" placeholder="course">
    </div>