
<div>
<table border = "1">

    <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Course</td>
            <td>Opção</td>
    </tr>
    <tr *ngFor="let alu of alunos">
            <td>{{alu.id}}</td>
            <td>{{alu.name | uppercase}}</td>
            <td>{{alu.age}}</td>
            <td>{{alu.course | uppercase}}</td>
            <td>
                <button type="button" (click)="onSelect(alu)">Editar</button>
            </td>

    </tr>

</table>
</div>
<div *ngIf="selectedAluno">

    <h2>Aluno: {{selectedAluno.name}}</h2>
   <h2> Course: {{selectedAluno.course}}</h2>
    <div>
        <label>nome:</label>
        <input id="name" [(ngModel)]="selectedAluno.name" placeholder="name">

    </div>
</div>

